[Unit]
Description=Flask Application
After=network.target

[Service]
WorkingDirectory=/home/wapa/Documents/Hella/Hella_sensor
ExecStart=/bin/bash -c 'source /home/wapa/Documents/Hella/Hella_sensor/hella/bin/activate && /home/wapa/Documents/Hella/Hella_sensor/hella/bin/python /home/wapa/Documents/Hella/Hella_sensor/HellaListener.py'
Restart=on-failure
RestartSec=10
Environment=PATH=/home/wapa/Documents/Hella/Hella_sensor/hella/bin
Environment=FLASK_APP=HellaListener.py
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target
