[Unit]
Description=FastAPI Application
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/home/wapa/Documents/Hella_sensor
ExecStartPre=/bin/bash -c 'until /usr/sbin/ip addr show eth0 | /usr/bin/grep -q "192.168.1.1"; do sleep 1; done'
ExecStart=/bin/bash -c 'source /home/wapa/Documents/Hella_sensor/hella-fast/bin/activate && uvicorn HellaListener:app --host 192.168.1.1 --port 8080'
Restart=on-failure
RestartSec=10
Environment=PATH=/home/wapa/Documents/Hella_sensor/hella-fast/bin
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target
